<div>
  <h2>Enter name or short phrase to anagram</h2>

  <%= form_tag("/anagrams", method: "post") do %>
      <%= text_field_tag(:text, "Enter text here", size: "40") %>
      <%= submit_tag("Find Anagrams!", class: "colored submit-button") %>
  <% end %>
</div>

<div>
  <h2>Enter long phrase to anagram</h2>

  <%= form_tag("/anagrams/long", method: "post") do %>
      <div>
        <%= text_area_tag(:text, "Enter text here", rows: "10", cols: "60") %>
      </div>
      <%= submit_tag("Find Anagrams!", class: "colored submit-button") %>
  <% end %>
</div>
