

<div class="column">

  <h2>Anagrams for '<%= @text %>'</h2>

  <div class="section">
    <h3>Current anagram:</h3>
    <div id="current-anagram">
      <% @current_words.each do |word| %>
        <li class="current-word"><%= word %></li>
      <% end %>
    </div>
    <div id="submit-form">
      <%= form_tag("save", method: "post") do %>
        <%= submit_tag("Submit", id: "submit-button") %>
      <% end %>

    </div>
  </div>

  <div class="section">
    <h3>Remaining text:</h3>
    <div id="remaining">
      <%= @text %>
    </div>
  </div>

  <div class="section">
    <h3>Suggested anagrams</h3>
    <ul>
      <div id="anagrams">
        <% @anagrams.each do |anagram| %>
          <li><%= anagram %></li>
        <% end %>
      </div>
    </ul>
  </div>

</div>

<div class="column" id="subwords">
  <h2>Add words to anagram</h2>

  <div class="section">
    <h3>Add subword:</h3>
    <%= form_tag("add_subword", method: "post", id: "subword-form") do %>
      <%= text_field_tag(:subword, "", id: "subword-field") %>
      <%= submit_tag("Submit", id: "submit-button", data: { disable_with: "Thinking..." }) %>
    <% end %>
  </div>

  <div class="section">
    <h3>Suggested words</h3>
    <ul>
      <div id="subword-list">
        <% @subwords.each do |word| %>
          <li class="subword"><%= word %></li>
        <% end %>
      </div>
    </ul>
  </div>

</div>

